<main class="courses-section container" id="cursos">
  <h1 class="courses-title">Conheça os cursos</h1>
  <p class="courses-subtitle">Seu caminho para o estágio começa aqui</p>

  <div class="courses-slider">
    <button class="slider-arrow arrow-left" id="arrow-left">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>

    <div class="slider-wrapper" id="slider-wrapper">
      <div class="courses-container" id="courses-container">
        <div class="course-card" data-url="/cursos/administracao">
          <img src="">
          <h3>Administração</h3>
        </div>

        <div class="course-card" data-url="/cursos/informatica">
          <img src="">
          <h3>Informática para Internet</h3>
        </div>

        <div class="course-card" data-url="/cursos/design">
          <img src="">
          <h3>Design Gráfico</h3>
        </div>

        <div class="course-card" data-url="/cursos/eletronica">
          <img src="">
          <h3>Eletrônica</h3>
        </div>

        <div class="course-card" data-url="/cursos/design">
          <img src="">
          <h3>Serviços Jurídicos</h3>
        </div>

        <div class="course-card" data-url="/cursos/design">
          <img src="">
          <h3>Comércio Exterior</h3>
        </div>

        <div class="course-card" data-url="/cursos/design">
          <img src="">
          <h3>Ciências da Natureza</h3>
        </div>

        <div class="course-card" data-url="/cursos/design">
          <img src="">
          <h3>Desenvolvimento de Sistemas</h3>
        </div>
      </div>
    </div>

    <button class="slider-arrow arrow-right" id="arrow-right">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>
</main>
